services:
  vllm-embed:
    image: bolz213/ubuntu-uv:ubuntu22.04-uv
    container_name: vllm-embed
    gpus: all
    ipc: host
    working_dir: /workspace
    command: >-
      bash -lc "
      uv venv --python 3.12 --seed &&
      source .venv/bin/activate &&
      uv pip install vllm --torch-backend=auto &&
      vllm serve Qwen/Qwen3-VL-Embedding-2B
      --runner pooling
      --max-model-len 8192
      --dtype auto
      --trust-remote-code
      --hf-overrides '{\"matryoshka_dimensions\":[1024]}'
      --port 8000
      --gpu-memory-utilization 0.9
      "
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
