services:
  vllm-rerank:
    image: bolz213/ubuntu-uv:ubuntu22.04-uv
    container_name: vllm-rerank
    gpus: all
    ipc: host
    working_dir: /workspace
    command: >-
      bash -lc "
      uv venv --python 3.12 --seed &&
      source .venv/bin/activate &&
      uv pip install vllm --torch-backend=auto &&
      curl -O https://raw.githubusercontent.com/bojone/mmw_repos/main/mlops_fastapi/template/qwen3_vl_reranker.jinja &&
      vllm serve Qwen/Qwen3-VL-Reranker-2B
      --runner pooling
      --dtype auto
      --max-model-len 16384
      --gpu-memory-utilization 0.9
      --trust-remote-code
      --chat-template qwen3_vl_reranker.jinja
      --hf-overrides '{\"architectures\": [\"Qwen3VLForSequenceClassification\"], \"classifier_from_token\": [\"no\", \"yes\"], \"is_original_qwen3_reranker\": true}'
      --port 8001
      "
    ports:
      - "8001:8001"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
