services:
  vllm-embed:
    image: bolz213/ubuntu-uv:ubuntu22.04-uv
    container_name: vllm-embed
    gpus: all
    ipc: host
    command: ["/scripts/start_embed.sh"]
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
